html {
	margin:0px;
	height:100%;
}

body {
	margin:0px;
	width:100%;
	height:100%;
	background: white;
	font-family: arial;
	background-color:#EEEEEE;
}

input[type=submit] {
	color: white;
	background: #EF464C;
	padding: 5px 5px;
	border: 0 none;
}

input[type=submit]:hover {
	cursor:pointer;
}

input[type=text] {
	border: 1px solid rgba(32, 44, 67, .3);
}

input[type=password] {
	border: 1px solid rgba(32, 44, 67, .3);
}

a { text-decoration: none;}
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

#menu {
	position: fixed;
	top:0px;
	width: 100%;
	height: 100%;
	height:70px;
	background: #202C43;
	color: white;
	box-shadow: 0px 1px 5px #888888;
}

#menu a {
	color: white;
	height: 70px;
}

#menu input[type=submit] {
	width:140px;
	height:35px;
}

#menu input[type=submit][class=disabled]{
	background-color: rgba(239, 73, 76, .1);
	color: rgba(255, 255, 255, .2);
	margin:0px;
}

#menu input[type=submit][class=disabled]:hover{
	cursor:default;
}

#menu-contents {
	width:840px;
	margin: 0px auto;
}

#menu-header {
	float:left;
}

#logout-button {
	margin:0px 0px;
}

#links {
	float:left;
	width:500px;
}

#links .link {
	float: left;
	height: 45px;
	padding: 0px 20px;
	padding-top:25px;
	-webkit-transition: background-color .5s;
}

#links .link:hover {
	cursor:pointer;
	background-color: rgba(255, 255, 255, .2);
}

#logouts {
	float: right;
}

#contents {
	width:740px;
	min-height:76%;
	border-left: 1px solid rgba(32, 44, 67, .3);
	border-right: 1px solid rgba(32, 44, 67, .3);
	padding:0px 50px;
	padding-top:110px;
	padding-bottom:50px;
	margin: 0px auto;
	background-color: white;
	overflow: hidden;
}

#title {
	font-size: 20px;
	font-weight: 700;
	color: #202C43;
	margin-bottom:20px;
}

#title2 {
	font-size: 18px;
	font-weight: 700;
	color: #202C43;
}

#title3 {
	margin-left:1px;
	color: #202C43;
}

#list {
	margin-bottom: 50px;
}

#list td{
	width:250px;
}

#list td[class=button]{
	width:50px;
}

#list td[class=radio]{
	width:30px;
}

#list td[class=platform]{
	width:500px;
	color: #EF464C;
}

#list tr[class=header]{
	height:20px;
	color: #EF464C;
	font-weight: 700;
}

#list input[type=submit] {
	width: 110px;
}

#list input[type=submit][class=receipt] {
	background-color: #202C43;
}

#list .row {
	border-bottom: 1px solid #EF464C;
}

#login {
	color: white;
	margin:50px auto;
	width:200px;
}

#login td {
	width:60px;
	color: #202C43;
}

#login input[type="submit"]{
	width: 210px;
}

#box {
	margin-top:20px;
}

#platform {
	border: 1px solid rgba(32, 44, 67, .3);
}

#name {
	color: #EF464C;
	font-weight: 700;
}

.drop {
	width:342px;
	margin-left:1px;
	margin-bottom:20px;
	border: 1px solid rgba(32, 44, 67, .3);
}

.center {
	margin: 0px auto;
}